<div class="row">  
    <div class="row" style="margin-top: 10px;">
      <div class="col-xs-12">
          <h1>Distribuidor</h1>
        <h2>{{ distributor.name }}</h2>
      </div>
    </div>  
  <hr>
    <div class="row">
      <div class="col-xs-12">
        Cedula Jurídica: {{ distributor.dni }}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
       Continente: {{ distributor.continent }} 
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
       País: {{ distributor.country }} 
      </div>
    </div>
    <hr>
    
    
    