<h2>Register</h2>
<form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)"> 
    <div class="form-group">
        <label for="name">Nombre</label>
        <input 
        style="width: 500px"
        id="name"
        class="form-control"
        ngModel
        name="name"
        required
        >
    </div>
    <div class="form-group">
        <label for="primaryLastName">Primer Apellido</label>
        <input 
        style="width: 500px"
        id="primaryLastName"
        class="form-control"
        ngModel
        name="primaryLastName"
        required
        >
    </div>
    <div class="form-group">
        <label for="secondaryLastName">Segundo Apellido</label>
        <input 
        style="width: 500px"
        id="secondaryLastName"
        class="form-control"
        ngModel
        name="secondaryLastName"
        required
        >
    </div>
    <div class="form-group">
        <label for="continent">Continente</label>
        <input 
        style="width: 500px"
        id="continent"
        class="form-control"
        ngModel
        name="continent"
        required
        >
    </div>
    <div class="form-group">
        <label for="country">País</label>
        <input 
        style="width: 500px"
        id="country"
        class="form-control"
        ngModel
        name="country"
        required
        >
    </div>
    <div class="form-group">
        <label for="email">E-Mail</label>
        <input 
        style="width: 500px"
        type="email" 
        id="email"
        class="form-control"
        ngModel
        name="email"
        required
        email>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input 
        style="width: 500px"
        id="password"
        class="form-control"
        ngModel
        name="password"
        required
        minlength="6">
    </div>
    <div class="form-group">
        <label for="deliveryAdresses">Dirección de Entrega</label>
        <input 
        style="width: 500px"
        id="deliveryAdresses"
        class="form-control"
        ngModel
        name="deliveryAdresses"
        required>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">
            Register
        </button>
        <a routerLink="/client/login" class="btn btn-link">Cancel</a>
    </div>
</form>